numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
librosa==0.10.2.post1
soundfile==0.12.1
joblib==1.4.2
tqdm==4.66.4
requests==2.32.3
plotly==5.22.0
ipywidgets==8.1.2

# PyTorch core (CPU / MPS). Install together to prevent mismatch.
torch==2.2.2
torchaudio==2.2.2

# Hugging Face stack
transformers==4.41.2
datasets==2.19.0

#realtime audio input
pyaudio==0.2.14

